<div class="container w-50">
<%= form_with(model: non_tech) do |form| %>
  <% if non_tech.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(non_tech.errors.count, "error") %> prohibited this non_tech from being saved:</h2>

      <ul>
        <% non_tech.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 form-group">
    <%= form.label :name, style: "display: block" ,class:"form-label" %>
    <%= form.text_field :name,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :email,"Email Address", style: "display: block" %>
    <%= form.text_field :email,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :office, style: "display: block" %>
    <%= form.text_field :office ,class:"form-control"%>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :phone,"Mobile No.", style: "display: block" %>
    <%= form.text_field :phone,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :employee_no,"Employee No.", style: "display: block" %>
    <%= form.text_field :employee_no,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :photo, "Upload Photo Here"%>
    <%= form.file_field :photo, class:"form-control"%>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :vehicle_no,"Vehicle Registration No.", style: "display: block" %>
    <%= form.text_field :vehicle_no,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :registration_img, "Upload Vehicle Registration Certificate Here"%>
    <%= form.file_field :registration_img, class:"form-control"%>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :adhar_no,"Aadhar No.", style: "display: block" %>
    <%= form.text_field :adhar_no,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :aadhar_img, "Upload Aadhar Here"%>
    <%= form.file_field :aadhar_img, class:"form-control"%>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :license,"Driving License No.", style: "display: block" %>
    <%= form.text_field :license,class:"form-control" %>
  </div>

  <div class="mb-3 form-group">
    <%= form.label :license_img, "Upload Driving License Here"%>
    <%= form.file_field :license_img, class:"form-control"%>
  </div>

  <div class="mb-3 d-flex justify-content-center">
    <%= form.submit "Make Request", class:"btn btn-success"  %>
  </div>
<% end %>
</div>
