<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= student.department %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>

  <p>
    <strong>Roll no:</strong>
    <%= student.roll_no %>
  </p>

  <p>
    <strong>Vehicle no:</strong>
    <%= student.vehicle_no %>
  </p>

  <p>
    <strong>Adhar no:</strong>
    <%= student.adhar_no %>
  </p>

  <p>
    <strong>License:</strong>
    <%= student.license %>
  </p>

</div>
