<div id="<%= dom_id teacher %>">
  <p>
    <strong>Name:</strong>
    <%= teacher.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= teacher.email %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= teacher.department %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= teacher.phone %>
  </p>

  <p>
    <strong>Faculty no:</strong>
    <%= teacher.faculty_no %>
  </p>

  <p>
    <strong>Adhar no:</strong>
    <%= teacher.adhar_no %>
  </p>

  <p>
    <strong>Vehicle no:</strong>
    <%= teacher.vehicle_no %>
  </p>

  <p>
    <strong>License:</strong>
    <%= teacher.license %>
  </p>

  <% if teacher.aadhar_img.attached? %>
      <%= image_tag teacher.aadhar_img %>
    <%end%>

    <% if teacher.license_img.attached? %>
      <%= image_tag teacher.license_img %>
    <%end%>

    <% if teacher.photo.attached? %>
      <%= image_tag teacher.photo %>
    <%end%>

    <% if teacher.registration_img.attached? %>
      <%= image_tag teacher.registration_img %>
    <%end%>

</div>
